@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center my-5">
    <h1 class="fw-semibold" style="font-size: 2.5rem; color: #1C352D; text-shadow: 1px 1px 3px rgba(166, 178, 139, 0.7);">
        Kitap Yönetim Sistemine Hoşgeldiniz
    </h1>
    <p class="lead" style="color: #A6B28B; font-size: 1.25rem;">
        Kitaplarınızı, üyelerinizi ve ödünç işlemlerinizi kolayca yönetin.
    </p>
    <hr class="mx-auto" style="width: 120px; border-top: 3px solid #A6B28B;" />
</div>


